* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-left img {
  object-fit: contain;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}
.header-left i {
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.header {
  width: 100%;
  position: sticky;
  display: flex;
  top: 0;
  z-index: 999;
  justify-content: space-around;
  padding: 20px;
  margin-left: 200px;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: white;
}
.header-left {
  display: flex;
}
.header-search {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.search-bar {
  padding: 10px;
  height: 25px;
  border: none;
  border-radius: 30px;
  background-color: rgb(228, 227, 227);
  margin-right: 10vh;
}
.header-search input {
  outline: none;
  border: none;
  background: none;
  width: 60vh;
}
.header-search i {
  margin-right: 7px;
  margin-top: 2px;
}
.header-right {
  display: flex;
}
.head {
  font-size: 1rem;
  margin-right: 28vh;
  background-color: rgb(240, 240, 240);
  margin-top: 10px;
  cursor: pointer;
}
.header-profile-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  background-color: white;
  border-radius: 20px;
  justify-content: space-between;
  padding: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}
.header-profile-option:hover {
  background-color: lightgray;
}
.header-profile-option i {
  padding: 10px;
}

.list {
  font-size: 0.8rem;
  margin: 10px;
}

.list ul {
  list-style: none;
  align-items: center;
  margin-left: 20px;
}
.list li {
  padding: 5px;
}
.list ul li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.heading p {
  margin-top: 25px;
}
.heading i {
  margin-left: 90%;
  font-size: 10px;
  padding: 0;
}
.body-main {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  max-width: 1200px;
  margin: 0 20px;
}
.mid-section {
  display: flex;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  margin-top: 35px;
}
.back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 98vh;
  cursor: pointer;
}
.back-link i {
  padding: 7px;
  font-size: 1.2rem;
  background-color: white;

  border-radius: 50%;
  margin-right: 5px;
}
.icons {
  display: flex;
}
.icons i {
  padding: 5px;
  font-size: 1.3rem;
  background-color: white;
  margin-right: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.fa-pencil {
  color: rgb(89, 32, 143);
}
.notification-icon {
  position: relative;
  display: inline-block;
  color: rgb(255, 149, 0);
}
.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: rgb(255, 149, 0);
  color: white;
  font-size: 8px;
  padding: 3px 6px;
  border-radius: 50%;
}

.fa-table-cells-large {
  color: rgb(28, 89, 230);
}

.main-profile {
  background-color: white;
  display: flex;
  padding: 30px;
  margin-left: 20px;
  margin-top: 30px;
}
.profile-details {
  display: flex;
  margin-bottom: 30px;
}
.more-dets {
  display: flex;
  margin-bottom: 30px;
}
.details-further {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.profile-header {
  display: flex;
  flex-direction: column;
}

.p-pic {
  height: 180px;
  width: 220px;
  border-radius: 100%;
  border: 1px solid lightgrey;
  margin-right: 30px;
  padding: 5px;
}
